.header {
  display: flex;
  align-items: center;
  background-color: #37474f;
  color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  flex: 0 0 auto; /* Define que a logo não deve crescer */
}

.logo img {
  height: 60px; /* Altura da logo */
}

.title {
  flex: 1; /* Faz o título ocupar o espaço restante */
  text-align: center;
}

.title h1 {
  margin: 0;
  font-size: 1.5rem;
}

.title p {
  margin: 0;
  font-size: 0.9rem;
  color: #cfd8dc;
}
